.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 2rem;
    padding: 0.5rem;
}

.vocab-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.vocab-card {
    border: 1px solid #000;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px; /* added for better visual appearance */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow for depth */
}

.vocab-card > .card-header,
.vocab-card > .card-pronunciation,
.vocab-card > .card-example,
.vocab-card > .card-etymology,
.vocab-card > .card-mnemonic,
.vocab-card > .card-synonyms,
.vocab-card > .card-prediction {
    margin-bottom: .5rem;
}

.vocab-card > .card-header {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
}

.vocab-card > .card-body {
    font-size: 1rem;
    color: #666;
}

.vocab-card > .card-pronunciation {
    font-size: 0.85rem;
    color: #888;
    font-style: italic;
}

.vocab-card > .card-example {
    font-size: 0.9rem;
    background-color: #f0f0f0;
    border-left: 3px solid #2c7ef0;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.vocab-card > .card-etymology,
.vocab-card > .card-mnemonic {
    font-size: 1.1rem;
    color: #0d0101;
    font-family: 'Times New Roman', Times, serif;
}

.vocab-card > .card-synonyms {
    font-size: 0.9rem;
    padding: 0.25rem 0;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}

.vocab-card > .card-prediction {
    font-size: 0.9rem;
    color: #777;
    text-align: right;
    font-style: italic;
}

.hidden {
    display: none;
}
